/*
!dataloader
!tests
!utils
!visualisations

!environment.yaml
!evaluation.py
!femur_detector.py
!.gitignore
!network.py
!pred_img_labels_paths.csv
!README.md
!test.csv
!train.csv
!trainer.py
!train_img_labels_paths.csv
!unet.py
!val.csv

__pycache__
